{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 pr3-l">
      <header class="post-header">
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1>
        {{ if .Params.subtitle }}<h4 class="f4 mt0 mb4 lh-title measure">{{ .Params.subtitle }}</h4>{{ end }}
        {{ if .Params.show_author_byline }}<p class="f6 measure lh-copy {{ if .Params.publication }}mv0{{ else }}mv1{{ end }}">{{ if .Params.author }}By {{ .Params.author }}{{ end }}</p>{{ end }}
        {{ if .Params.publication }}<p class="f6 measure lh-copy mt0 mb1">In <em>{{ .Params.publication }}</em></p>{{ end }}
        {{ if .Params.show_post_date }}<p class="f7 db mv0 ttu">{{ .PublishDate.Format "January 2, 2006" }}</p>{{ end }}
        {{ if .Params.categories }}<p class="f6 measure lh-copy mv1">{{ with .Params.categories }}{{ range . }} <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
      {{ if .Params.links }}
      <div class="ph0 pt5">
        {{ partial "shared/btn-links.html" . }}
      </div>
      {{ end }}
      </header>
      <section class="post-body pt5 pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        {{ partial "shared/post-pagination.html" . }}
      </footer>
    </article>
    {{ if .Params.show_comments }}
      {{ partial "shared/comments.html" . }}
    {{ end }}
  </section>
</main>
<aside class="page-sidebar" role="complementary">
  {{ partial "shared/sidebar-scaffold-publication.html" . }}
  {{ $headers := findRE "<h[2-6].*>" .Content }}
  {{ $has_headers := ge (len $headers) 1 }}
  {{ if and $has_headers .Params.toc }}
  {{ $tocDepth := .Params.toc_depth | default 2 }}
  <div class="ph4 pb4 mt5">
    <h2 class="mv3 f5 fw7 ttu tracked">{{ .Params.sidebar.text_contents_label | default "On this page" }}</h2>
    <nav id="PageTableOfContents" aria-label="PageTableOfContents" data-toc-depth="{{ $tocDepth }}">
      {{ .TableOfContents }}
    </nav>
  </div>
  {{ end }}
  {{ .Scratch.Set "details" "open" }}
  {{ partial "shared/post-details.html" . }}
</aside>
{{ end }}